<script>
export default {
  name: 'bands',
}
</script>

<template>
<div>
  <h1 align="center"> Nylon Jail </h1>
  <p>Nejvýraznější kapela české alternativní scény mixující širokou škálu žánrů od temného country, psychedelic rocku, hypnotického popu až po elektroniku s vůní jazzu. </p>
</div>
</template>

<style scoped>
</style>
