<script>
import NavItem from './NavItem'

export default {
  name: 'navbar',
  props: ['pages', 'activePage', 'selectPage'],
  components: { NavItem },
}
</script>

<template>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">LUMP</a>

      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <NavItem v-for="page in pages"
                   v-bind:key="page.name"
                   v-bind:name="page.name"
                   v-bind:active-page="activePage"
                   v-bind:select-page="selectPage">
            {{ page.title }}
          </NavItem>
        </ul>
      </div>
    </div>
  </nav>
</template>

<style scoped>
.navbar {
  margin-bottom: 10px;
  margin: 0 auto;
  background-color: black;
  color: white;
}
</style>
