<script>
export default {
  name: 'nav-item',
  props: ['name', 'activePage', 'selectPage']
}
</script>

<template>
  <li class="nav-item"
      v-bind:class="{ active: activePage == name }"
      v-on:click="selectPage(name)">
    <a class="nav-link" v-bind:href="'#' + name">
      <slot></slot>
    </a>
  </li>
</template>

<style scoped>
</style>
