<script>
import camelCase from 'lodash/camelCase'

import Navbar    from './components/Navbar'
import About     from './components/About'
import Bands     from './components/Bands'
import Events    from './components/Events'

export default {
  name: 'app',

  data () {
    return {
      pages: [
        { name: 'about',  title: 'O nás'    },
        { name: 'bands',  title: 'Kapely'   },
        { name: 'events', title: 'Koncerty' },
      ],
      activePage: null
    }
  },

  created () {
    var hash = window.location.hash

    this.activePage = hash.slice(1)
  },

  computed: {
    activeComponent() {
      return camelCase(this.activePage)
    }
  },

  methods: {
    selectPage (page) {
      this.activePage = page
    }
  },

  components: { Navbar, About, Bands, Events }
}
</script>

<template>
  <div id="app">
      <div id="maincontainer">
        <Navbar v-bind:pages="pages" v-bind:active-page="activePage" v-bind:select-page="selectPage"/>

        <div class="container">
          <component v-bind:is="activeComponent" />
        </div>

        <footer>
          <div class="">
              TEL: +420 123 456 789
          </div>
        </footer>
    </div>
  </div>
</template>

<style scoped>
footer {
  position: absolute;
  bottom: 0;
  width: 20%;
  height: 60px;
  line-height: 60px;
  background-color: blue;
  right: 0;
}
p {
}

#app {
  min-height: 100%;
  width: 100%;
  color: white;
  background-image: url("./assets/background.jpg");
  background-position: center, top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  max-height: 100%;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  background-color: black;
  text-indent: 5%;
}

</style>
